<div class="container">
  <div class="row">
        <h1>文字ジャンル一覧</h1>

        <div class= "col-md-12">

        <ul class="list-unstyled">
        <% @genres.each do |genre| %>
          <li><%= link_to genre.name, sample_path(genre.id) %></li>
        <% end %>
        </ul>

        <!--<li>< %= link_to "1文字ずつ練習", sample_path(@genre.id) %></li>-->
        <!--<li>< %= link_to "都道府県", sample_path(@genre.id) %></li>-->
        <!--<li>< %= link_to "冠婚葬祭", sample_path(@genre.id) %></li>-->
        <!--<li>< %= link_to "例文集", sample_path(@genre.id) %></li>-->
        </div>

    </div>
</div>