<h1>文字ジャンル一覧</h1>

<li><%= link_to "1文字ずつ練習", samples_path %></li>
<li><%= link_to "都道府県", samples_path %></li>
<li><%= link_to "冠婚葬祭", samples_path %></li>
<li><%= link_to "例文集", samples_path %></li>

<!--以下に各文字を表示（とりあえず全部出して、上のリンクから検索で選ぶ？）-->