<div class="container">
    <br>
    <h3 class="row d-flex align-items-center justify-content-center">美しい文字を身につけたい人のための、文字練習帳。</h3>
    <br>
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-10 text-center">

    <p>文字を綺麗に書く人への憧れは、誰もが一度は抱いた事があるのではないでしょうか。</p>
    <p>手書き文字は、相手に情報を正確に伝える役割だけでなく、書き手の印象も左右する力も持っています。<br>
    美しい字を書く人に対して、無意識のうちに上品さや知的さを感じた経験はありませんか？</p>
    <br>
    <p>電子機器が発達し、紙での情報伝達が減りつつある現代。<br>
    それでも、履歴書や冠婚葬祭の祝儀袋・手紙では、自分の字で丁寧に書くことで気持ちを込める事ができますし、
    ビジネスシーンでもメモや付で連絡をする機会があると思います。</p>
    <br>
    <p>教養・趣味として、ペン字練習をもっと気軽に。<br>
    あなたも今日から始めてみませんか？</p>
    <br>
    </div>
  </div>

  <div class="bg-light py-5">
    <h4 class="d-flex align-items-center justify-content-center">こんな人に</h4>
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-mb-10 border bg-white">


        <ul style="list-style: none;">
          <li>○ 制限なく何度もなぞって文字を練習したい。</li>
          <li>○ 自分の名前をとにかく綺麗に書きたい。</li>
          <li>○ こっそり特訓してカッコいい文字を身に付けたい。</li>
          <li>○ 忙しくて本格的に練習する暇は作れないが、品のある大人っぽい文字を書ける人に憧れる。</li>
          <li>○ 手軽な趣味として、ゆっくり美しい文字を書いて心を整えたい。</li>
        </ul>
      </div>
    </div>
  </div>

    <br>

  <div class="bg-light py-5">
    <h4 class="d-flex align-items-center justify-content-center">こんな時に</h4>
    <div class="row d-flex justify-content-center">

      <div class="col-md-7">
          <p class="border bg-white p-2">冠婚葬祭の祝儀袋を書くときに</p>
        <p class="col-md-11">祝儀袋用の文字も掲載しています。練習後、スマートフォンやタブレットを横に置いて、お手本を見ながら書いてみましょう。</p>
      </div>

      <div class="col-md-7">
        <p class="border bg-white p-2">年賀状作成時や履歴書作成時に</p>
        <p class="col-md-11">自分の名前や住所を保存して練習できます。</p>
      </div>

      <div class="col-md-7">
        <p class="border bg-white p-2">日々の隙間時間に</p>
        <p class="col-md-11">本もノートも要らないため、ちょっとした空き時間に、いつでも綺麗な文字を書く練習ができます。</p>
      </div>

      <div class="col-md-7">
        <p class="border bg-white p-2">リフレッシュするための趣味としてペン字を始めたいとき</p>
        <p class="col-md-11">飲み物を淹れて好きな音楽を流し、心穏やかにペン字の時間を楽しんでいただくのもおすすめです。</p>
        </div>

    </div>
    <!--<table>-->
    <!--<tr>-->
    <!--  <td>冠婚葬祭の祝儀袋を書くときに</td>-->
    <!--  <td>祝儀袋用の文字も掲載しています。練習後、スマートフォンやタブレットを横に置いて、お手本を見ながら書いてみましょう。</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--  <td>年賀状作成時や履歴書作成時に</td>-->
    <!--  <td>自分の名前や住所を保存して練習できます。</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--  <td>慌ただしい日々の隙間時間に</td>-->
    <!--  <td>本もノートも要らないため、ちょっとした空き時間に、いつでも綺麗な文字を書く練習ができます。</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--  <td>リフレッシュするための趣味としてペン字を始めたいとき</td>-->
    <!--  <td>飲み物を淹れて好きな音楽を流し、心穏やかにペン字の時間を楽しんでいただくのもおすすめです。</td>-->
    <!--</tr>-->
    <!--</table>-->
  </div>
</div>