@import '~bootstrap/scss/bootstrap';

//FontAwesome導入時に追加
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body{
  font-family: 'Noto Serif JP', serif;
}

h1{
  font-family: 'Klee One', cursive;
  font-size: 35px;
}

.hidden_area{
  visibility:hidden;
}

// 練習の記録ページ
.record-table{
  width: 32%;
  table-layout: fixed;
  background-color: #f5f5f5;
  font-size: 12px;
}

